In [1]:
# Loading Data

import pandas as pd

df = pd.read_csv('bikedata.csv')

In [2]:
# Removing Unnecessary Columns

df.head()
df = df.drop('Unnamed: 0', axis = 1)
df = df.drop(['PDweek','DDweek'], axis = 1)

In [3]:
df.columns
df.head()

,Duration,Distance,PLong,PLatd,DLong,DLatd,Haversine,Pmonth,Pday,Phour,...,Dhour,Dmin,Temp,Precip,Wind,Humid,Solar,Snow,GroundTemp,Dust
0,3,50,37.544666,126.888359,37.544666,126.888359,0.000000,1,1,0,...,0,4,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0
1,24,7670,37.506199,127.003944,37.551250,127.035103,5.713529,1,1,0,...,0,25,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0
2,8,1390,37.544590,127.057083,37.537014,127.061096,0.913702,1,1,0,...,0,9,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0
3,8,1820,37.571102,127.023560,37.561447,127.034920,1.468027,1,1,0,...,0,10,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0
4,4,850,37.573242,127.015907,37.565849,127.016403,0.823227,1,1,0,...,0,6,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0

In [26]:
# Columns --> ['Duration', 'Distance', 'PLong', 'PLatd', 'DLong', 'DLatd', 'Haversine',
#              'Pmonth', 'Pday', 'Phour', 'Pmin', 'Dmonth', 'Dday', 'Dhour', 'Dmin',
#               'Temp', 'Precip', 'Wind', 'Humid', 'Solar', 'Snow', 'GroundTemp','Dust']
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

Index(['Duration', 'Distance', 'PLong', 'PLatd', 'DLong', 'DLatd', 'Haversine',
       'Pmonth', 'Pday', 'Phour', 'Pmin', 'Dmonth', 'Dday', 'Dhour', 'Dmin',
       'Temp', 'Precip', 'Wind', 'Humid', 'Solar', 'Snow', 'GroundTemp',
       'Dust'],
      dtype='object')

In [5]:
locdata = df.loc[: , ['PLong', 'PLatd', 'DLong', 'DLatd','Pmonth', 'Pday', 'Phour', 'Pmin', 'Dmonth', 'Dday', 'Dhour', 'Dmin']]
locdata.head()

,PLong,PLatd,DLong,DLatd,Pmonth,Pday,Phour,Pmin,Dmonth,Dday,Dhour,Dmin
0,37.544666,126.888359,37.544666,126.888359,1,1,0,0,1,1,0,4
1,37.506199,127.003944,37.551250,127.035103,1,1,0,0,1,1,0,25
2,37.544590,127.057083,37.537014,127.061096,1,1,0,0,1,1,0,9
3,37.571102,127.023560,37.561447,127.034920,1,1,0,1,1,1,0,10
4,37.573242,127.015907,37.565849,127.016403,1,1,0,1,1,1,0,6

In [16]:
# Geographical representation of January Trips
# Need to find how many trips there are in each month
locdata['Pmonth'].value_counts().sort_values()

1      157103
2      161402
3      440407
12     487776
4      651082
5      906812
11     927050
8      984998
7     1047834
6     1109347
10    1357441
9     1369887
Name: Pmonth, dtype: int64

In [34]:
Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec = ([] for i in range(12))
monthlist = [Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec]
for month in locdata.Pmonth.unique():
    monthindex = locdata.loc[locdata['Pmonth'] == month]
    for monthabbrev in monthlist:
        monthabbrev.append(monthindex)

In [36]:
df = pd.DataFrame(data[1:],columns=data[0])

list